@layer utilities {

    .np-dl-outer-container {
        @apply p-4 bg-layout-100 dark:bg-layout-800 rounded shadow-xl;
    }

    .np-dl-data-container {
        @apply p-1 bg-layout-100 dark:bg-layout-800 text-layout-800 dark:text-layout-100 rounded shadow overflow-x-auto overflow-y-hidden;
    }

    .np-dl-title {
        @apply px-2 mt-2 mb-4 text-lg font-bold font-title;
    }

    @screen md {
        .np-dl-title {
            @apply text-xl;
        }
    }

    .np-dl-table {
        @apply w-full text-xs overflow-y-auto;
    }

    @screen md {
        .np-dl-table {
            @apply text-sm;
        }
    }

    .np-dl-thead {
        @apply text-left font-bold;
    }

    .np-dl-th-normal {
        @apply px-2 pt-2 pb-2 text-left align-top;
    }

    .np-dl-th-right {
        @apply px-2 pt-2 pb-2 text-right align-top;
    }

    .np-dl-th-center {
        @apply px-2 pt-2 pb-2 text-center align-top;
    }

    .np-dl-th--small {
        @apply text-xs;
    }

    .np-dl-tr:hover {
        @apply bg-layout-200 text-black dark:bg-layout-900 dark:text-white;
    }

    .np-dl-tr:hover:focus-within {
        @apply text-layout-900 dark:text-layout-100;
    }

    .np-dl-td-normal {
        @apply align-middle border-t border-layout-200 dark:border-layout-900 text-left px-2 py-1;
    }

    .np-dl-td-right {
        @apply align-middle border-t border-layout-200 dark:border-layout-900 text-right px-2 py-1;
    }

    .np-dl-td-center {
        @apply align-middle border-t border-layout-200 dark:border-layout-900 text-center px-2 py-1;
    }

    .np-dl-td-normal-top {
        @apply align-top border-t border-layout-200 dark:border-layout-900 text-left px-2 py-1;
    }

    .np-dl-td-right-top {
        @apply align-top border-t border-layout-200 dark:border-layout-900 text-right px-2 py-1;
    }

    .np-dl-td-center-top {
        @apply align-top border-t border-layout-200 dark:border-layout-900 text-center px-2 py-1;
    }

    .np-dl-td-edit {
        @apply align-middle border-t border-layout-200 dark:border-layout-900 w-px px-4 py-2 cursor-pointer whitespace-nowrap;
    }

    .np-dl-td-edit:hover {
        @apply bg-layout-300 dark:bg-layout-700;
    }

    .np-dl-td--small {
        @apply text-xs;
    }

    .np-dl-container-filtername {
        @apply mb-6 h-12 bg-white rounded shadow overflow-y-auto overflow-x-hidden flex items-center;
    }

    .np-dl-filtername {
        @apply px-2 flex-1 text-sm tracking-wide;
    }

    .np-dl-td-no-entries {
        @apply border-t px-2 py-2;
    }
}
